div {
	font-family: 'Shadows Into Light', cursive;
	font-size: 200%;

	border: 1px solid black;
	margin: 0.5em;

	min-width: 3em;
	min-height: 3em;

	text-align: center;
	line-height: 3em;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b6e026+0,abdc28+100;Green+Flat */
	background: #b6e026; /* Old browsers */
	background: -moz-linear-gradient(top,  #b6e026 0%, #abdc28 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b6e026 0%,#abdc28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */
}
